* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }
  * h1, * h2, * h3, * h4, * h5, * h6, * p:hover {
    cursor: default; }

body {
  background-color: #EEEEEE;
  font-family: 'Poppins', sans-serif; }

body::-webkit-scrollbar {
  width: 7px; }

body::-webkit-scrollbar-thumb {
  background-color: #ccc;
  border-radius: 50px; }

.entry {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas: "img form"; }
  .entry .bgImg {
    grid-area: img;
    background-color: red;
    border-right: 2px solid #000; }
    .entry .bgImg img {
      width: 100%;
      height: 100%; }
  .entry .formIngreso {
    grid-area: form;
    display: block; }
  .entry .formCrear {
    grid-area: form;
    display: none; }
  .entry .formVer {
    display: block; }
  .entry .formularios form .borForm, .entry .formularios form .crearForm {
    width: 75%;
    height: 500px;
    padding: 10%;
    display: flex;
    flex-direction: column;
    background-color: #E5E5E5;
    border: 1px solid #D5D5D4;
    box-shadow: 5px 5px 1.5px #DFDFDE;
    margin: 50px auto; }
    .entry .formularios form .borForm h4, .entry .formularios form .crearForm h4 {
      font-size: 2.5rem;
      text-align: center;
      margin-bottom: 5px; }
    .entry .formularios form .borForm input, .entry .formularios form .borForm button, .entry .formularios form .crearForm input, .entry .formularios form .crearForm button {
      height: 40px;
      padding: 15px;
      margin-top: 40px;
      border-radius: 50px;
      border: none;
      box-shadow: 2px 2px 0.5px #D5D5D4; }
    .entry .formularios form .borForm .crear, .entry .formularios form .crearForm .crear {
      height: 50px;
      width: 50%;
      margin: 20px auto 10px;
      border: 1px solid #D5D5D4;
      background-color: #DFDFDE; }
      .entry .formularios form .borForm .crear:hover, .entry .formularios form .crearForm .crear:hover {
        cursor: pointer;
        background-color: #ccc; }

header .navBar {
  width: 100%;
  height: 65px;
  background-color: #DFDFDE;
  margin: 0 auto;
  display: flex;
  justify-content: space-between; }
  header .navBar .logo {
    margin: 20px 15px;
    text-decoration: none;
    color: #000;
    grid-area: logo;
    align-items: flex-start;
    display: flex; }
    header .navBar .logo img {
      align-items: flex-start;
      width: 25px; }
    header .navBar .logo h2 {
      font-size: x-large;
      align-items: flex-start; }
  header .navBar .menu div {
    display: none; }
    header .navBar .menu div img {
      width: 25px;
      height: 25px;
      background-color: #DFDFDE; }
    header .navBar .menu div img:hover {
      cursor: pointer;
      background-color: #D5D5D4; }
  header .navBar .menu .nav {
    grid-area: nav;
    align-items: center;
    display: flex; }
    header .navBar .menu .nav ul {
      list-style: none;
      display: flex;
      flex-direction: row;
      align-items: center; }
      header .navBar .menu .nav ul li {
        margin: 25px 10px; }
        header .navBar .menu .nav ul li a {
          text-decoration: none;
          color: #000;
          font-size: 1.1rem;
          transition: 500ms; }
          header .navBar .menu .nav ul li a:hover {
            text-decoration: underline;
            cursor: pointer; }
  header .navBar .carritoDiv .botonCarrito {
    grid-area: carrito;
    margin: 0 25px 10px;
    align-items: flex-end;
    display: flex;
    justify-content: end; }
    header .navBar .carritoDiv .botonCarrito:hover {
      cursor: pointer; }
    header .navBar .carritoDiv .botonCarrito img {
      width: 50px;
      height: 50px;
      margin-top: 8px; }
  header .navBar .carritoDiv .carrito1 {
    width: 350px;
    height: 500px;
    margin-left: -20%;
    background-color: #302b2b;
    padding: 5px;
    z-index: 2;
    position: absolute;
    display: none;
    grid-template-rows: 8fr 0.03fr;
    grid-template-areas: "visor" "boton"; }
    header .navBar .carritoDiv .carrito1 .visorProductos {
      width: 90%;
      height: 80%;
      margin: 20px auto -15px;
      overflow-y: scroll;
      grid-area: visor;
      background-color: #D5D5D4;
      display: flex;
      flex-direction: column; }
      header .navBar .carritoDiv .carrito1 .visorProductos li {
        width: 90%;
        margin-top: 10px;
        margin-left: 15px;
        display: grid;
        grid-template-columns: 1fr 3fr 1fr;
        grid-template-rows: .7fr .5fr;
        grid-template-areas: "img title cant" "img cont cant"; }
        header .navBar .carritoDiv .carrito1 .visorProductos li img {
          width: 50px;
          height: 50px;
          grid-area: img;
          margin: auto;
          margin-right: 15px; }
        header .navBar .carritoDiv .carrito1 .visorProductos li h6 {
          grid-area: title;
          font-size: .8rem;
          margin-top: auto;
          margin-bottom: auto;
          text-align: center; }
        header .navBar .carritoDiv .carrito1 .visorProductos li h5 {
          grid-area: cont;
          font-size: .7rem;
          text-align: center; }
        header .navBar .carritoDiv .carrito1 .visorProductos li button {
          width: 30px;
          height: 30px;
          margin-top: 7px;
          margin-left: 15px;
          border: 0;
          background-color: #000;
          color: #fff;
          grid-area: cant; }
        header .navBar .carritoDiv .carrito1 .visorProductos li button:hover {
          cursor: pointer; }
    header .navBar .carritoDiv .carrito1 .compraFinalizada {
      grid-area: boton;
      margin-top: -35px;
      display: flex;
      flex-direction: column;
      align-items: center; }
      header .navBar .carritoDiv .carrito1 .compraFinalizada div {
        width: 90%;
        height: 20%;
        padding: 2px;
        margin-top: -10px;
        margin-bottom: 10px;
        display: flex;
        flex-direction: row;
        justify-content: space-between; }
        header .navBar .carritoDiv .carrito1 .compraFinalizada div h5 {
          font-size: medium;
          margin: auto 20px;
          color: #ccc; }
      header .navBar .carritoDiv .carrito1 .compraFinalizada button {
        width: 50%;
        height: 30px;
        margin-bottom: 15px;
        border: 1px solid #000;
        border-radius: 30px;
        background-color: #E9E9E9;
        transition: 500ms; }
      header .navBar .carritoDiv .carrito1 .compraFinalizada button:hover {
        cursor: pointer;
        background-color: #ccc; }
  header .navBar .carritoDiv .visor {
    display: grid; }

.acceso {
  width: 100%;
  height: 80%;
  display: grid;
  grid-template-rows: .02fr 10fr;
  grid-template-areas: "buscador" "productos"; }
  .acceso .buscador {
    width: 95%;
    height: 15%;
    grid-area: buscador;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: wrap;
    transition: 500ms; }
    .acceso .buscador button {
      margin: 10px auto;
      display: flex;
      padding: 10px;
      border-radius: 15px;
      border: 1.5px solid #E5E5E5;
      background-color: #E9E9E9;
      transition: 500ms; }
      .acceso .buscador button :hover {
        transform: scale(1); }
      .acceso .buscador button img {
        width: 20px;
        height: 20px; }
      .acceso .buscador button h5 {
        margin: 4px;
        font-size: small; }
      .acceso .buscador button .tequila {
        color: #000; }
      .acceso .buscador button .bebidasB {
        margin-top: -4px; }
    .acceso .buscador :hover {
      cursor: pointer;
      background-color: #ccc;
      transform: scale(1.2); }
  .acceso .visorCompra {
    width: 90%;
    margin: 0 auto;
    grid-area: productos;
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    flex-wrap: wrap; }
    .acceso .visorCompra div {
      width: 250px;
      height: 380px;
      margin: 15px;
      padding: 20px 10px;
      border: 1px solid #E5E5E5;
      background-color: #E9E9E9; }
      .acceso .visorCompra div img {
        width: 90%;
        height: 60%;
        margin-left: 11px; }
      .acceso .visorCompra div h5 {
        font-size: large;
        color: #df1920;
        margin: 10px; }
      .acceso .visorCompra div h6 {
        font-size: small;
        color: #000;
        margin: 0 5px;
        font-family: 'Open Sans', sans-serif; }
      .acceso .visorCompra div button {
        width: 90%;
        height: 35px;
        margin-left: 11px;
        margin-top: 10px;
        background-color: #DFDFDE;
        border: 1px solid #E5E5E5;
        transition: 500ms;
        align-items: center; }
      .acceso .visorCompra div button:hover {
        cursor: pointer;
        background-color: #D5D5D4; }
  .acceso .finalizarCompraPantalla {
    width: 100%;
    height: 150%;
    position: absolute;
    z-index: 3;
    background-color: rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(2px);
    display: none; }
    .acceso .finalizarCompraPantalla .visorFinalizar {
      width: 80%;
      height: 80%;
      margin: 50px auto;
      background-color: #ccc;
      border-radius: 30px;
      padding: 20px; }
      .acceso .finalizarCompraPantalla .visorFinalizar .botonSalir {
        width: 20px;
        height: 20px;
        margin-left: 95%;
        background-color: red;
        border: none; }
        .acceso .finalizarCompraPantalla .visorFinalizar .botonSalir:hover {
          cursor: pointer; }
      .acceso .finalizarCompraPantalla .visorFinalizar h6 {
        margin-top: auto;
        text-align: center;
        font-size: 2em; }
      .acceso .finalizarCompraPantalla .visorFinalizar .visorFinalizarInt {
        width: 100%;
        height: 50%;
        margin-top: 10px;
        background-color: #DFDFDE;
        overflow-y: scroll; }
        .acceso .finalizarCompraPantalla .visorFinalizar .visorFinalizarInt li {
          width: 95%;
          margin-top: 20px;
          display: grid;
          grid-template-columns: 1fr 3fr 1fr;
          grid-template-rows: .7fr .5fr;
          grid-template-areas: "img title cant" "img cont cant"; }
          .acceso .finalizarCompraPantalla .visorFinalizar .visorFinalizarInt li img {
            width: 75px;
            height: 75px;
            grid-area: img;
            margin: auto; }
          .acceso .finalizarCompraPantalla .visorFinalizar .visorFinalizarInt li h6 {
            grid-area: title;
            font-size: 1.2rem;
            margin-top: auto;
            margin-bottom: auto;
            text-align: center; }
          .acceso .finalizarCompraPantalla .visorFinalizar .visorFinalizarInt li h5 {
            grid-area: cont;
            font-size: 1rem;
            text-align: center; }
          .acceso .finalizarCompraPantalla .visorFinalizar .visorFinalizarInt li button {
            width: 30px;
            height: 30px;
            margin-top: 7px;
            margin-left: 15px;
            border: 0;
            background-color: #000;
            color: #fff;
            grid-area: cant; }
          .acceso .finalizarCompraPantalla .visorFinalizar .visorFinalizarInt li button:hover {
            cursor: pointer; }
      .acceso .finalizarCompraPantalla .visorFinalizar .ingresarDatos {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly; }
        .acceso .finalizarCompraPantalla .visorFinalizar .ingresarDatos #calle, .acceso .finalizarCompraPantalla .visorFinalizar .ingresarDatos #zona {
          width: 45%;
          height: 30%;
          margin-top: 10px;
          padding: 5px;
          text-align: center; }
      .acceso .finalizarCompraPantalla .visorFinalizar #dataTime {
        width: 80%;
        font-size: 1.2em;
        margin: 30px auto;
        text-align: center; }
      .acceso .finalizarCompraPantalla .visorFinalizar .timeLine {
        width: 95%;
        height: 100%;
        margin: 10px auto;
        padding: 20px;
        display: flex; }
        .acceso .finalizarCompraPantalla .visorFinalizar .timeLine .representacion {
          width: 100px;
          height: 100px;
          padding: 5px;
          border-radius: 50px;
          background-color: red; }
          .acceso .finalizarCompraPantalla .visorFinalizar .timeLine .representacion .edificio, .acceso .finalizarCompraPantalla .visorFinalizar .timeLine .representacion .casa {
            width: 95%;
            height: 95%;
            margin: auto;
            margin-top: 1.5px;
            border-radius: 50px;
            background-color: #fff;
            display: flex;
            align-content: center; }
            .acceso .finalizarCompraPantalla .visorFinalizar .timeLine .representacion .edificio img, .acceso .finalizarCompraPantalla .visorFinalizar .timeLine .representacion .casa img {
              width: 75%;
              height: 75%;
              margin: auto; }
        .acceso .finalizarCompraPantalla .visorFinalizar .timeLine .carga {
          width: 80%;
          height: 30px;
          margin-top: 33px; }
          .acceso .finalizarCompraPantalla .visorFinalizar .timeLine .carga .inicio {
            width: 0;
            height: 100%;
            background-color: red; }
          .acceso .finalizarCompraPantalla .visorFinalizar .timeLine .carga .final {
            width: 100%;
            background-color: red;
            height: 100%; }
          .acceso .finalizarCompraPantalla .visorFinalizar .timeLine .carga .animacion15 {
            transition: all 15s ease .5s; }
          .acceso .finalizarCompraPantalla .visorFinalizar .timeLine .carga .animacion30 {
            transition: all 30s ease .5s; }
  .acceso .mostrar {
    display: block; }
  .acceso .noMostrar {
    display: none; }

footer {
  width: 100%;
  height: 100px;
  background-color: #DFDFDE;
  padding-top: 35px;
  display: grid;
  justify-content: center;
  grid-template-rows: 1fr 2fr;
  grid-template-areas: "links" "derechos"; }
  footer div {
    grid-area: links;
    display: flex;
    margin: -10px auto 5px; }
    footer div div {
      margin: 0 5px; }
      footer div div a {
        text-decoration: none;
        color: #000; }
        footer div div a:hover {
          color: red;
          text-decoration: underline; }
        footer div div a img {
          width: 25px;
          margin-bottom: -6px; }
  footer h3 {
    grid-area: derechos;
    font-size: 1.5rem;
    text-align: center;
    margin-bottom: 15px; }

.nosotros {
  width: 95%;
  height: 95%;
  margin: 50px auto 90px;
  padding: 0 50px 50px 50px;
  border: 1px solid #DFDFDE;
  background-color: #E9E9E9; }
  .nosotros h2 {
    text-align: center;
    margin: 15px 0 5px 0;
    color: #000;
    font-size: xx-large; }
  .nosotros .textContent {
    background-color: #DFDFDE;
    padding: 10px 0; }
    .nosotros .textContent p {
      text-align: center;
      color: #000;
      font-size: 1.1rem;
      letter-spacing: 1px; }

.contacto .contenedor {
  width: 95%;
  height: 90%;
  margin: 30px auto 60px auto;
  border: 1px solid #E5E5E5;
  background-color: #E9E9E9; }
  .contacto .contenedor form {
    margin: 25px auto;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: "mensaje formulario"; }
    .contacto .contenedor form .mensaje {
      width: 95%;
      height: 300px;
      margin: 0 auto;
      padding: 10px;
      grid-area: mensaje;
      resize: none;
      font-size: 1.5rem;
      border: 1px solid #DFDFDE; }
    .contacto .contenedor form .formulario {
      grid-area: formulario;
      display: flex;
      flex-direction: column;
      margin: -10px auto 0 auto;
      width: 100%; }
      .contacto .contenedor form .formulario .formularioLlenar {
        display: flex;
        flex-direction: column;
        width: 100%; }
        .contacto .contenedor form .formulario .formularioLlenar input {
          width: 95%;
          height: 30px;
          margin: 10px auto;
          padding: 10px;
          border: 1px solid #DFDFDE;
          border-radius: 25px;
          box-shadow: 3px 3px 1.5px #E5E5E5;
          transition: 750ms; }
        .contacto .contenedor form .formulario .formularioLlenar input:focus {
          transform: scale(1.05); }
      .contacto .contenedor form .formulario .enviar {
        width: 100%;
        margin: 10px 42px; }
        .contacto .contenedor form .formulario .enviar input {
          width: 80%;
          height: 50px;
          margin: 0 auto;
          border: 1px solid #E5E5E5;
          background-color: #DFDFDE;
          transition: 500ms; }
        .contacto .contenedor form .formulario .enviar input:hover {
          cursor: pointer;
          background-color: #D5D5D4; }

@media only screen and (max-width: 1300px) {
  header .navBar .carritoDiv .carrito1 {
    margin-left: -22%; }
  .acceso .finalizarCompraPantalla {
    height: 140%; } }

@media only screen and (max-width: 1200px) {
  header .navBar .carritoDiv .carrito1 {
    margin-left: -25%; } }

@media only screen and (max-width: 1000px) {
  header .navBar .carritoDiv .carrito1 {
    margin-left: -28%; }
  .acceso .finalizarCompraPantalla .visorFinalizar .timeLine .representacion {
    height: 90px; }
  .acceso .finalizarCompraPantalla .visorFinalizar .timeLine .carga {
    height: 25px; } }

@media only screen and (max-width: 850px) {
  .contacto .contenedor {
    height: 50%; }
    .contacto .contenedor form {
      grid-template-columns: 1fr;
      grid-template-rows: 1fr 1fr;
      grid-template-areas: "mensaje" "formulario"; }
      .contacto .contenedor form .formulario {
        grid-area: formulario;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 10px auto 0;
        width: 100%; }
        .contacto .contenedor form .formulario .formularioLlenar {
          display: flex;
          flex-direction: column;
          width: 100%; }
        .contacto .contenedor form .formulario .enviar {
          width: 100%;
          margin-top: 5%;
          display: flex; }
          .contacto .contenedor form .formulario .enviar button {
            width: 80%;
            height: 50px;
            border: 1px solid #E5E5E5;
            background-color: #DFDFDE;
            transition: 500ms; }
  .entry {
    grid-template-areas: "form form"; }
    .entry .bgImg {
      display: none; }
  header .navBar .carritoDiv .carrito1 {
    margin-left: -35%; }
  .acceso .finalizarCompraPantalla .visorFinalizar .timeLine .representacion {
    height: 82px; }
  .acceso .finalizarCompraPantalla .visorFinalizar .timeLine .carga {
    height: 20px; } }

@media only screen and (max-width: 700px) {
  header .navBar .carritoDiv .carrito1 {
    margin-left: -40%; }
  .acceso .finalizarCompraPantalla .visorFinalizar .timeLine .representacion {
    height: 75px; }
  .acceso .finalizarCompraPantalla .visorFinalizar .timeLine .carga {
    height: 15px; } }

@media only screen and (max-width: 550px) {
  header {
    margin: 0 auto; }
    header .navBar {
      height: 130px;
      display: grid;
      grid-template-columns: 1.5fr .5fr;
      grid-template-rows: 1fr 1fr;
      grid-template-areas: "logo logo" "menu carrito"; }
      header .navBar .logo {
        margin: auto; }
      header .navBar .menu {
        grid-area: menu;
        width: 35px;
        height: 35px;
        border: none;
        background-color: #DFDFDE;
        margin: 20px auto 0; }
        header .navBar .menu div {
          display: flex;
          border: none; }
          header .navBar .menu div img {
            color: #DFDFDE; }
        header .navBar .menu button:hover {
          cursor: pointer; }
        header .navBar .menu .nav {
          display: none;
          background-color: #DFDFDE;
          margin: 135px auto 0 -50px;
          height: 30%; }
          header .navBar .menu .nav ul {
            flex-direction: column;
            position: absolute;
            background-color: #DFDFDE; }
            header .navBar .menu .nav ul li {
              margin: 20px;
              align-content: center; }
              header .navBar .menu .nav ul li a {
                font-size: 2rem; }
        header .navBar .menu .menuVer {
          display: flex; }
      header .navBar .carritoDiv .botonCarrito {
        margin: 0 80px 10px 0; }
      header .navBar .carritoDiv .carrito1 {
        margin-left: -55%; }
  .acceso .visorCompra div {
    width: 350px;
    height: 130px;
    margin: 15px;
    padding: 20px 10px;
    display: flex; }
    .acceso .visorCompra div img {
      width: 90%;
      height: 90%; }
    .acceso .visorCompra div h5 {
      margin-top: 25px; }
    .acceso .visorCompra div h6 {
      margin-top: 20px; }
    .acceso .visorCompra div button {
      width: 90%;
      height: 80%;
      margin-top: 5px; }
  .acceso .finalizarCompraPantalla .visorFinalizar .ingresarDatos {
    flex-direction: column; }
    .acceso .finalizarCompraPantalla .visorFinalizar .ingresarDatos #calle, .acceso .finalizarCompraPantalla .visorFinalizar .ingresarDatos #zona {
      width: 90%;
      margin: 5px auto; }
  .acceso .finalizarCompraPantalla .visorFinalizar .timeLine .representacion {
    height: 65px; }
  .acceso .finalizarCompraPantalla .visorFinalizar .timeLine .carga {
    height: 15px;
    margin-top: 25px; }
  footer h3 {
    font-size: 1rem; } }

@media only screen and (max-width: 400px) {
  header .navBar .carritoDiv .carrito1 {
    margin-left: -62%; }
  .acceso .finalizarCompraPantalla .visorFinalizar .timeLine .representacion {
    height: 50px; }
  .acceso .finalizarCompraPantalla .visorFinalizar .timeLine .carga {
    height: 10px;
    margin-top: 20px; } }
