* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  background-color: #EEEEEE;
  font-family: 'Poppins', sans-serif; }

.entry {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  grid-template-areas: "img form"; }
  .entry .bgImg {
    height: 92%;
    grid-area: img;
    background-color: red;
    border-right: 2px solid #000; }
    .entry .bgImg img {
      width: 100%;
      height: 100%; }
  .entry .formIngreso {
    grid-area: form; }
    .entry .formIngreso form .borForm {
      width: 75%;
      height: 500px;
      padding: 10%;
      display: flex;
      flex-direction: column;
      background-color: #E5E5E5;
      border: 1px solid #D5D5D4;
      box-shadow: 5px 5px 1.5px #DFDFDE;
      margin: 50px auto; }
      .entry .formIngreso form .borForm h4 {
        font-size: 2.5rem;
        text-align: center;
        margin-bottom: 5px; }
      .entry .formIngreso form .borForm p {
        font-size: 1rem;
        letter-spacing: 1px;
        text-align: center; }
      .entry .formIngreso form .borForm input {
        height: 40px;
        padding: 15px;
        margin-top: 40px;
        border-radius: 50px;
        border: none;
        box-shadow: 2px 2px 0.5px #D5D5D4; }
      .entry .formIngreso form .borForm button {
        height: 80px;
        width: 50%;
        margin: 45px auto;
        border: 1px solid #D5D5D4;
        background-color: #DFDFDE; }
        .entry .formIngreso form .borForm button:hover {
          cursor: pointer;
          background-color: #ccc; }

header .navBar {
  height: 65px;
  background-color: #DFDFDE;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  grid-template-areas: "logo nav carrito"; }
  header .navBar .logo {
    width: 50%;
    height: 90%;
    margin-left: 10px;
    text-decoration: none;
    color: #000;
    grid-area: logo;
    display: flex; }
    header .navBar .logo img {
      width: 20%;
      height: 90%;
      margin-top: 5px; }
    header .navBar .logo h2 {
      margin-top: 20px; }
  header .navBar .nav {
    grid-area: nav; }
    header .navBar .nav ul {
      list-style: none;
      margin-left: 18%;
      display: flex;
      flex-wrap: wrap;
      flex-direction: row;
      justify-content: start; }
      header .navBar .nav ul li {
        margin: 25px 10px; }
        header .navBar .nav ul li a {
          text-decoration: none;
          color: #000;
          font-size: 1.1rem;
          transition: 500ms; }
          header .navBar .nav ul li a:hover {
            text-decoration: underline;
            cursor: pointer; }
  header .navBar .carrito {
    grid-area: carrito;
    margin-right: 40px;
    display: flex;
    justify-content: end; }
    header .navBar .carrito img {
      width: 50px;
      height: 50px;
      margin-top: 8px; }

.acceso {
  width: 100%;
  height: 80%;
  display: grid;
  grid-template-columns: 3fr 1fr;
  grid-template-rows: .09fr 10fr;
  grid-template-areas: "buscador carrito" "productos carrito"; }
  .acceso .carritoExtend {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 5px;
    background-color: #E5E5E5;
    grid-area: carrito;
    display: grid;
    grid-template-rows: 9fr 0.09fr;
    grid-template-areas: "visor" "boton"; }
    .acceso .carritoExtend .visorProductos {
      grid-area: visor;
      background-color: #DFDFDE; }
    .acceso .carritoExtend .compraFinalizada {
      grid-area: boton; }
      .acceso .carritoExtend .compraFinalizada button {
        width: 50%;
        height: 30%;
        margin: 50px 85px;
        border: 1px solid #DFDFDE;
        background-color: #E9E9E9;
        transition: 500ms; }
      .acceso .carritoExtend .compraFinalizada :hover {
        cursor: pointer;
        background-color: #ccc; }
  .acceso .buscador {
    width: 95%;
    height: 60%;
    margin: 12px auto;
    grid-area: buscador;
    display: flex;
    justify-content: space-around;
    transition: 500ms; }
    .acceso .buscador div {
      display: flex;
      padding: 10px;
      border-radius: 15px;
      border: 1.5px solid #E5E5E5;
      background-color: #E9E9E9;
      transition: 500ms; }
      .acceso .buscador div :hover {
        transform: scale(1); }
      .acceso .buscador div img {
        width: 20px;
        height: 20px; }
      .acceso .buscador div h5 {
        margin: 4px; }
      .acceso .buscador div .tequila {
        color: #000; }
      .acceso .buscador div .bebidasB {
        margin-top: -4px; }
    .acceso .buscador :hover {
      cursor: pointer;
      background-color: #ccc;
      transform: scale(1.2); }
  .acceso .productos {
    width: 90%;
    margin: 0 auto;
    grid-area: productos;
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    flex-wrap: wrap; }
    .acceso .productos .card {
      width: 250px;
      height: 380px;
      margin: 15px;
      padding: 20px 10px;
      border: 1px solid #E5E5E5;
      background-color: #E9E9E9; }
      .acceso .productos .card img {
        width: 90%;
        height: 60%;
        margin-left: 11px; }
      .acceso .productos .card h5 {
        font-size: large;
        color: #df1920;
        margin: 10px; }
      .acceso .productos .card h6 {
        font-size: small;
        color: #000;
        margin: 0 5px;
        font-family: 'Open Sans', sans-serif; }
      .acceso .productos .card button {
        width: 90%;
        height: 35px;
        margin-left: 11px;
        margin-top: 10px;
        background-color: #DFDFDE;
        border: 1px solid #E5E5E5;
        transition: 500ms; }
      .acceso .productos .card button:hover {
        cursor: pointer;
        background-color: #D5D5D4; }

footer {
  width: 100%;
  height: 100px;
  background-color: #DFDFDE;
  padding-top: 35px; }
  footer h3 {
    text-align: center; }

.nosotros {
  width: 95%;
  height: 350px;
  margin: 50px auto;
  padding: 0 50px 50px 50px;
  border: 1px solid #E5E5E5;
  background-color: #E9E9E9; }
  .nosotros h2 {
    text-align: center;
    margin: 15px 0 5px 0;
    color: #000;
    font-size: xx-large; }
  .nosotros p {
    text-align: center;
    color: #000;
    padding: 10px 0;
    font-size: 1.1rem;
    letter-spacing: 1px; }

.contacto .contenedor {
  width: 95%;
  height: 362px;
  margin: 30px auto 60px auto;
  border: 1px solid #E5E5E5;
  background-color: #E9E9E9; }
  .contacto .contenedor form {
    margin: 25px auto;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: "mensaje formulario"; }
    .contacto .contenedor form .mensaje {
      width: 95%;
      height: 300px;
      margin: 0 auto;
      padding: 10px;
      grid-area: mensaje;
      resize: none;
      font-size: 1.5rem;
      border: 1px solid #DFDFDE; }
    .contacto .contenedor form .formulario {
      grid-area: formulario;
      display: flex;
      flex-direction: column;
      margin: -10px auto 0 auto;
      width: 100%; }
      .contacto .contenedor form .formulario .formularioLlenar {
        display: flex;
        flex-direction: column;
        width: 100%; }
        .contacto .contenedor form .formulario .formularioLlenar input {
          width: 95%;
          height: 30px;
          margin: 10px auto;
          padding: 10px;
          border: 1px solid #DFDFDE;
          border-radius: 25px;
          box-shadow: 3px 3px 1.5px #E5E5E5;
          transition: 750ms; }
        .contacto .contenedor form .formulario .formularioLlenar input:focus {
          transform: scale(1.05); }
      .contacto .contenedor form .formulario .enviar {
        width: 100%;
        margin: 10px 42px; }
        .contacto .contenedor form .formulario .enviar button {
          width: 80%;
          height: 50px;
          margin: 0 auto;
          border: 1px solid #E5E5E5;
          background-color: #DFDFDE;
          transition: 500ms; }
        .contacto .contenedor form .formulario .enviar button:hover {
          cursor: pointer;
          background-color: #D5D5D4; }
