* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  background-color: #EEEEEE;
  font-family: 'Poppins', sans-serif; }

.entry {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  grid-template-areas: "img form"; }
  .entry .bgImg {
    height: 92%;
    grid-area: img;
    background-color: red;
    border-right: 2px solid #000; }
    .entry .bgImg img {
      width: 100%;
      height: 100%; }
  .entry .formIngreso {
    grid-area: form; }
    .entry .formIngreso form .borForm {
      width: 75%;
      height: 500px;
      padding: 10%;
      display: flex;
      flex-direction: column;
      background-color: #E5E5E5;
      border: 1px solid #D5D5D4;
      box-shadow: 5px 5px 1.5px #DFDFDE;
      margin: 50px auto; }
      .entry .formIngreso form .borForm h4 {
        font-size: 2.5rem;
        text-align: center;
        margin-bottom: 5px; }
      .entry .formIngreso form .borForm p {
        font-size: 1rem;
        letter-spacing: 1px;
        text-align: center; }
      .entry .formIngreso form .borForm input {
        height: 40px;
        padding: 15px;
        margin-top: 40px;
        border-radius: 50px;
        border: none;
        box-shadow: 2px 2px 0.5px #D5D5D4; }
      .entry .formIngreso form .borForm button {
        height: 80px;
        width: 50%;
        margin: 45px auto;
        border: 1px solid #D5D5D4;
        background-color: #DFDFDE; }
        .entry .formIngreso form .borForm button:hover {
          cursor: pointer;
          background-color: #ccc; }

header .navBar {
  width: 100%;
  height: 65px;
  background-color: #DFDFDE;
  margin: 0 auto;
  display: flex;
  justify-content: space-between; }
  header .navBar .logo {
    margin: 20px 15px;
    text-decoration: none;
    color: #000;
    grid-area: logo;
    align-items: flex-start;
    display: flex; }
    header .navBar .logo img {
      align-items: flex-start;
      width: 25px; }
    header .navBar .logo h2 {
      font-size: x-large;
      align-items: flex-start; }
  header .navBar .menu button {
    display: none; }
    header .navBar .menu button img {
      width: 25px;
      height: 25px;
      background-color: #DFDFDE; }
    header .navBar .menu button img:hover {
      cursor: pointer;
      background-color: #D5D5D4; }
  header .navBar .menu .nav {
    grid-area: nav;
    align-items: center;
    display: flex; }
    header .navBar .menu .nav ul {
      list-style: none;
      display: flex;
      flex-direction: row;
      align-items: center; }
      header .navBar .menu .nav ul li {
        margin: 25px 10px; }
        header .navBar .menu .nav ul li a {
          text-decoration: none;
          color: #000;
          font-size: 1.1rem;
          transition: 500ms; }
          header .navBar .menu .nav ul li a:hover {
            text-decoration: underline;
            cursor: pointer; }
  header .navBar .botonCarrito {
    grid-area: carrito;
    margin: 0 25px 10px;
    align-items: flex-end;
    display: flex;
    justify-content: end; }
    header .navBar .botonCarrito:hover {
      cursor: pointer; }
    header .navBar .botonCarrito .carrito1 {
      width: 350px;
      height: 500px;
      margin-bottom: -510px;
      margin-right: 0;
      background-color: #302b2b;
      padding: 5px;
      position: absolute;
      display: none;
      grid-template-rows: 8fr 0.03fr;
      grid-template-areas: "visor" "boton"; }
      header .navBar .botonCarrito .carrito1 .visorProductos {
        width: 90%;
        height: 80%;
        margin: 20px auto -15px;
        grid-area: visor;
        background-color: #D5D5D4;
        display: flex;
        justify-content: center; }
        header .navBar .botonCarrito .carrito1 .visorProductos div {
          width: 90%;
          display: flex;
          justify-content: space-around; }
          header .navBar .botonCarrito .carrito1 .visorProductos div img {
            width: 50px;
            height: 50px; }
          header .navBar .botonCarrito .carrito1 .visorProductos div h6 {
            font-size: small;
            margin-top: 15px;
            margin-left: 30px;
            width: 60px; }
          header .navBar .botonCarrito .carrito1 .visorProductos div div {
            margin-top: 10px; }
            header .navBar .botonCarrito .carrito1 .visorProductos div div #signoMenos {
              margin-left: 40px; }
            header .navBar .botonCarrito .carrito1 .visorProductos div div button {
              width: 30px;
              height: 30px;
              margin-top: 7px; }
              header .navBar .botonCarrito .carrito1 .visorProductos div div button img {
                margin: auto;
                width: 25px;
                height: 25px; }
            header .navBar .botonCarrito .carrito1 .visorProductos div div p {
              font-size: medium;
              margin: 10px 20px 0; }
      header .navBar .botonCarrito .carrito1 .compraFinalizada {
        grid-area: boton;
        margin-top: -35px;
        display: flex;
        flex-direction: column;
        align-items: center; }
        header .navBar .botonCarrito .carrito1 .compraFinalizada button {
          width: 50%;
          height: 30px;
          margin-bottom: 15px;
          border: 1px solid #000;
          border-radius: 30px;
          background-color: #E9E9E9;
          transition: 500ms; }
        header .navBar .botonCarrito .carrito1 .compraFinalizada :hover {
          cursor: pointer;
          background-color: #ccc; }
    header .navBar .botonCarrito .visor {
      display: grid; }
    header .navBar .botonCarrito img {
      width: 50px;
      height: 50px;
      margin-top: 8px; }

.acceso {
  width: 100%;
  height: 80%;
  display: grid;
  grid-template-rows: .02fr 10fr;
  grid-template-areas: "buscador" "productos"; }
  .acceso .buscador {
    width: 95%;
    height: 15%;
    grid-area: buscador;
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    flex-wrap: wrap;
    transition: 500ms; }
    .acceso .buscador button {
      margin: 10px auto;
      display: flex;
      padding: 10px;
      border-radius: 15px;
      border: 1.5px solid #E5E5E5;
      background-color: #E9E9E9;
      transition: 500ms; }
      .acceso .buscador button :hover {
        transform: scale(1); }
      .acceso .buscador button img {
        width: 20px;
        height: 20px; }
      .acceso .buscador button h5 {
        margin: 4px;
        font-size: small; }
      .acceso .buscador button .tequila {
        color: #000; }
      .acceso .buscador button .bebidasB {
        margin-top: -4px; }
    .acceso .buscador :hover {
      cursor: pointer;
      background-color: #ccc;
      transform: scale(1.2); }
  .acceso .visorCompra {
    width: 90%;
    margin: 0 auto;
    grid-area: productos;
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    flex-wrap: wrap; }
    .acceso .visorCompra div {
      width: 250px;
      height: 380px;
      margin: 15px;
      padding: 20px 10px;
      border: 1px solid #E5E5E5;
      background-color: #E9E9E9; }
      .acceso .visorCompra div img {
        width: 90%;
        height: 60%;
        margin-left: 11px; }
      .acceso .visorCompra div h5 {
        font-size: large;
        color: #df1920;
        margin: 10px; }
      .acceso .visorCompra div h6 {
        font-size: small;
        color: #000;
        margin: 0 5px;
        font-family: 'Open Sans', sans-serif; }
      .acceso .visorCompra div button {
        width: 90%;
        height: 35px;
        margin-left: 11px;
        margin-top: 10px;
        background-color: #DFDFDE;
        border: 1px solid #E5E5E5;
        transition: 500ms; }
      .acceso .visorCompra div button:hover {
        cursor: pointer;
        background-color: #D5D5D4; }

footer {
  width: 100%;
  height: 100px;
  background-color: #DFDFDE;
  padding-top: 35px; }
  footer h3 {
    text-align: center; }

.nosotros {
  width: 95%;
  height: 350px;
  margin: 50px auto;
  padding: 0 50px 50px 50px;
  border: 1px solid #E5E5E5;
  background-color: #E9E9E9; }
  .nosotros h2 {
    text-align: center;
    margin: 15px 0 5px 0;
    color: #000;
    font-size: xx-large; }
  .nosotros p {
    text-align: center;
    color: #000;
    padding: 10px 0;
    font-size: 1.1rem;
    letter-spacing: 1px; }

.contacto .contenedor {
  width: 95%;
  height: 362px;
  margin: 30px auto 60px auto;
  border: 1px solid #E5E5E5;
  background-color: #E9E9E9; }
  .contacto .contenedor form {
    margin: 25px auto;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: "mensaje formulario"; }
    .contacto .contenedor form .mensaje {
      width: 95%;
      height: 300px;
      margin: 0 auto;
      padding: 10px;
      grid-area: mensaje;
      resize: none;
      font-size: 1.5rem;
      border: 1px solid #DFDFDE; }
    .contacto .contenedor form .formulario {
      grid-area: formulario;
      display: flex;
      flex-direction: column;
      margin: -10px auto 0 auto;
      width: 100%; }
      .contacto .contenedor form .formulario .formularioLlenar {
        display: flex;
        flex-direction: column;
        width: 100%; }
        .contacto .contenedor form .formulario .formularioLlenar input {
          width: 95%;
          height: 30px;
          margin: 10px auto;
          padding: 10px;
          border: 1px solid #DFDFDE;
          border-radius: 25px;
          box-shadow: 3px 3px 1.5px #E5E5E5;
          transition: 750ms; }
        .contacto .contenedor form .formulario .formularioLlenar input:focus {
          transform: scale(1.05); }
      .contacto .contenedor form .formulario .enviar {
        width: 100%;
        margin: 10px 42px; }
        .contacto .contenedor form .formulario .enviar button {
          width: 80%;
          height: 50px;
          margin: 0 auto;
          border: 1px solid #E5E5E5;
          background-color: #DFDFDE;
          transition: 500ms; }
        .contacto .contenedor form .formulario .enviar button:hover {
          cursor: pointer;
          background-color: #D5D5D4; }

@media only screen and (max-width: 550px) {
  header {
    margin: 0 auto; }
    header .navBar {
      height: 130px;
      display: grid;
      grid-template-columns: 1.5fr .5fr;
      grid-template-rows: 1fr 1fr;
      grid-template-areas: "logo logo" "menu carrito"; }
      header .navBar .logo {
        margin: auto; }
      header .navBar .menu {
        grid-area: menu;
        width: 35px;
        height: 35px;
        border: none;
        background-color: #DFDFDE;
        margin: 20px auto 0; }
        header .navBar .menu button {
          display: flex;
          border: none; }
          header .navBar .menu button img {
            color: #DFDFDE; }
        header .navBar .menu button:hover {
          cursor: pointer; }
        header .navBar .menu .nav {
          display: none;
          background-color: #DFDFDE;
          margin: 135px auto 0 -50px;
          height: 30%; }
          header .navBar .menu .nav ul {
            flex-direction: column;
            position: absolute;
            background-color: #DFDFDE; }
            header .navBar .menu .nav ul li {
              margin: 20px;
              align-content: center; }
              header .navBar .menu .nav ul li a {
                font-size: 2rem; }
        header .navBar .menu .menuVer {
          display: flex; }
      header .navBar .botonCarrito {
        margin: 0 80px 10px 0; }
        header .navBar .botonCarrito .carrito1 {
          margin-right: -30px; } }
